## Digit recognition....ish

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#The first row is data and not a header
#Data in file is separated by a space and not a usual comma

data = pd.read_csv("data/zip.train", header=None , sep=" ")

In [5]:
#Remove all columns containing NaN values

clean_data = data.dropna(axis=1, how='any',thresh=None)

In [6]:

# Accepts a digit, returns a DataFrame where the first column corresponds to that digit

def is_num(num) :
    return pd.DataFrame(clean_data[clean_data[0]==num])


#Accepts a digit, returns a DataFrame containing all training values corresponding to that digit

def only_num(num) :
    only_num_df = pd.DataFrame((is_num(num)).drop((is_num(num)).columns[[0]],axis=1))
    return only_num_df


#Accepts a digit and returns a list of the (training data) indices where the values are NOT one

def index_non_ones(num) :
    only_num_df = only_num(num)
    i = 0
    non_ones_list = []
    
    while i < len(only_num_df.median()) : 
        if abs(only_num_df.median().iloc[i]) != 1 :
            non_ones_list.append(i+1)
        i += 1
        
    return non_ones_list   

def test(vector,num) :
    good_count = 0
    bad_count = 0
    for i in index_non_ones(num) :
        if abs(vector.iloc[i]) == 1 :
            bad_count += 1
        else :
            good_count += 1
    if good_count > bad_count :
        string = "Could be " + str(num)
    else :
        string = "Fail"
    return string
       
def could_be_test(vector) :
    possible_list = []
    for i in range (10) :
        if (test(vector,i)) != "Fail" :
            possible_list.append(i)
    return possible_list

In [7]:
#Are any of the indices identical? NOPE!

for i in range (0,9) :
    if index_non_ones(i) == index_non_ones(i+1) :
        print (str(i) + "=" + str(i+1))
    else:
        print (str(i) + "!=" + str(i+1))

0!=1
1!=2
2!=3
3!=4
4!=5
5!=6
6!=7
7!=8
8!=9

## Let's test it!

In [8]:
test_data = pd.read_csv("data/zip.test", header=None , sep=" ")

In [9]:
test_data.head(10)

,0,1,2,3,4,5,6,7,8,9,...,247,248,249,250,251,252,253,254,255,256
0,9,-1.0,-1.0,-1.0,-1.000,-1.0,-0.948,-0.561,0.148,0.384,...,-1.000,-0.908,0.430,0.622,-0.973,-1.000,-1.000,-1.0,-1.0,-1.0
1,6,-1.0,-1.0,-1.0,-1.000,-1.0,-1.000,-1.000,-1.000,-1.000,...,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.0,-1.0,-1.0
2,3,-1.0,-1.0,-1.0,-0.593,0.7,1.000,1.000,1.000,1.000,...,1.000,0.717,0.333,0.162,-0.393,-1.000,-1.000,-1.0,-1.0,-1.0
3,6,-1.0,-1.0,-1.0,-1.000,-1.0,-1.000,-1.000,-1.000,-1.000,...,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.0,-1.0,-1.0
4,6,-1.0,-1.0,-1.0,-1.000,-1.0,-1.000,-1.000,-0.858,-0.106,...,0.901,0.901,0.901,0.290,-0.369,-0.867,-1.000,-1.0,-1.0,-1.0
5,0,-1.0,-1.0,-1.0,-1.000,-1.0,-1.000,0.195,1.000,0.054,...,0.224,1.000,0.988,0.187,0.139,-0.641,-0.812,-1.0,-1.0,-1.0
6,0,-1.0,-1.0,-1.0,-1.000,-1.0,-0.785,0.775,0.268,-1.000,...,0.729,1.000,0.973,0.111,-0.661,-1.000,-1.000,-1.0,-1.0,-1.0
7,0,-1.0,-1.0,-1.0,-1.000,-1.0,-0.914,-0.688,-0.736,0.956,...,0.872,1.000,1.000,1.000,0.817,-0.308,-1.000,-1.0,-1.0,-1.0
8,6,-1.0,-1.0,-1.0,-1.000,-1.0,-1.000,-1.000,-0.761,0.438,...,1.000,1.000,0.679,-0.017,-0.907,-1.000,-1.000,-1.0,-1.0,-1.0
9,9,-1.0,-1.0,-1.0,-1.000,-1.0,-0.904,-0.060,0.638,0.678,...,-0.567,0.642,-0.925,-1.000,-1.000,-1.000,-1.000,-1.0,-1.0,-1.0

In [10]:
test_vector_9 = test_data.iloc[0][1:]
test_vector_6 = test_data.iloc[4][1:]
test_vector_0 = test_data.iloc[7][1:]

In [11]:
could_be_test(test_vector_9)

[1, 4, 7, 8, 9]

In [12]:
could_be_test(test_vector_6)

[1, 6]

In [13]:
could_be_test(test_vector_0)

[0, 1, 3]

In [15]:
#could_be_test(test_vector_3)

## Clustering

In [17]:
#Copied code to evaluate

 
def cluster_points(X, mu):
    clusters  = {}
    for x in X:
        bestmukey = min([(i[0], np.linalg.norm(x-mu[i[0]])) \
                    for i in enumerate(mu)], key=lambda t:t[1])[0]
        try:
            clusters[bestmukey].append(x)
        except KeyError:
            clusters[bestmukey] = [x]
    return clusters
 
def reevaluate_centers(mu, clusters):
    newmu = []
    keys = sorted(clusters.keys())
    for k in keys:
        newmu.append(np.mean(clusters[k], axis = 0))
    return newmu
 
def has_converged(mu, oldmu):
    return (set([tuple(a) for a in mu]) == set([tuple(a) for a in oldmu])
 
def find_centers(X, K):
    # Initialize to K random centers
    oldmu = random.sample(X, K)
    mu = random.sample(X, K)
    while not has_converged(mu, oldmu):
        oldmu = mu
        # Assign all points in X to clusters
        clusters = cluster_points(X, mu)
        # Reevaluate centers
        mu = reevaluate_centers(oldmu, clusters)
    return(mu, clusters)

SyntaxError: invalid syntax (<ipython-input-17-85dd5437a766>, line 24)

# Not necessary

In [ ]:
def could_be_test(vector) :
    possible_list = []
    for i in range (10) :
        if test(vector,i) != "Fail" :
            possible_list.append(i)
    return possible_list

In [ ]:
def test(vector,num) :
    good_count = 0
    bad_count = 0
    for i in index_non_ones(num) :
        if abs(vector.iloc[i]) == 1 :
            bad_count += 1
        else :
            good_count += 1
    if good_count > bad_count :
        string = "Could be " + str(num)
    else :
        string = "Fail"
    return string

In [18]:
class Digit_Test :
     def __init__(self,vector):
        self.vector = vector